{%extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container">
        <h3>Locations</h3>
        {% for loc in location %}
        <div class="row">
            <button id ="button" class = "btn btn-warning">{{ loc.loc }}</button>
        </div>
        {% endfor %}
</div>
<div class="container-fluid mt-5">
    <div class="row p-4">
        {% for photo in images%}
        <div class = "col-md-4" data-toggle ="modal" data-target="#showPictureModal{{photo.id}}">
            <img src="{{photo.image.url}}" alt="" class="img-fluid">
        </div>
        <!-- Modal -->
<div class="modal fade" id="showPictureModal{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPictureTitle">{{photo.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{photo.image.url}}" class = "img-fluid"alt="{{photo.name}}">
          <p class="text-centre">About:{{photo.description}}</p><hr>
          <div class="row">
            <div class="col-md-4">
                <p>Category:{{photo.category}}</p>
            </div>
            <div class="col-md-4">
                <p>Location:{{photo.location}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            
            <input class="form-control"  type="text" value="{{photo.image.url}}" >
            <button class="btn btn-primary" id="coppyLink" onclick="copylink(this.value)" >copy</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
<script>
    function copylink(value) {
        console.log('hi yellow')
        function handler(event){
            event.clipboardData.setData('text/plain', value);
            event.preventDefault();
            document.removeEventListener('copy', handler, true);
        }
        document.addEventListener('copy', handler, true);
        document.execCommand('copy');
    }
    </script>
  {% endfor %}
    </div>
</div>
{% endblock %}