<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/">The Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Location
          </a>

          <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="caret">
            {% for location in locations %}
            <ul  class="dropdown-menu">
              <li> <a href="/?location={{location.id}}">{{location.name}}</a> </li>
            </ul>
          </span>
        </button>
            {%endfor%}
         
           
          </div>
         
      </ul>
     
    </div>
    </div>
    <div style="width: 30%;">
      <form class="d-flex" style="float: right;" action="{{ images|length }}">
        <input class="form-control me-2" type="search" placeholder="Search by category...." name="category" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="float: right;">Search</button>
      </form>
    </div>
  </nav>
</body>


</html>