{%extends 'base.html'%}
{% block content %}
{{ block.super}}

<h1>Hey you searched for {{search}}</h1>
<div class="container-fluid mt-5">
   <div class="row p-4">
{% for picture in pictures%}
<div class = "col-md-4" data-toggle ="modal" data-target="#showPictureModal{{photo.id}}">
   <img src="{{picture.image.url}}" alt="" class="img-fluid" style="height: 100%; width: 100%; padding: 1%;">
    
 
</div>
      <!-- Modal -->
      <div class="modal fade" id="showPictureModal{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="modalPictureTitle">{{picture.name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <img src="{{picture.image.url}}" class = "img-fluid"alt="{{photo.name}}" >
               <p class="text-centre">About:{{picture.description}}</p><hr>
               <div class="row">
                 <div class="col-md-4">
                     <p>Category:{{picture.category}}</p>
                 </div>
                 <div class="col-md-4">
                     <p>Location:{{picture.location}}</p>
                 </div>
               </div>
             </div>
             <div class="modal-footer">
                 
                 <input class="form-control"  type="text" value="{{picture.image.url}}" >
                 <button class="btn btn-primary" id="copyLink" onclick="copylink(this.value)" >copy</button>
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
     
       </div>
{% endfor %}



{% endblock %}

